[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
pydantic = "*"
typing = "*"
pydantic-settings = "*"
python-dotenv = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.11"
